<div class="container-fluid mt-5 bg-white" >
    <div class="row justify-content-center">
        <div class="col-12 col-5 text-center">
            <img src="assets/images/warning.gif">
        </div>
    </div>
    <div class="row flex-column align-items-center ">
        <div class="col-10 col-5">
                <p class="text-center">Ooops !</p>
                <p class="text-center">The Page You're Looking For Was Not Found</p>
         </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <div routerLink="/landing" id="btn" class="btn w-25 fs-4">Go To Home</div>
        </div>
    </div>
    <div>
    </div>
</div>

