
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row  justify-content-center">
        <div *ngIf=flag class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Gallery  <br />
            <span style="color: hsl(218, 81%, 75%)">For your Best Memories</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Gallery websites serve as an important resource for art lovers, collectors, and enthusiasts, providing a convenient way to discover and appreciate different forms of art from around the world.
            Best Website For Gallery to Share Your Memories with Your Friends let's start now 
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative box">
          <div id="radius-shape-1" class="position-absolute  shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute  shadow-5-strong"></div>
  
          <!-- signup -->
          <div *ngIf=!flag  class="card bg-glass" style="margin-top:-30px">
            <div class="card-body px-4 py-5 px-md-5" >
              <form [formGroup]="validation">
                <div class="row">
                  <div class="col-md-6  mb-3">
                    <div class="form-floating">
                      <input formControlName="fname" [ngStyle]="{'border-color':(fname.valid?'green':(fname&&fname.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)"  id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                      <label for="floatingInput">First Name</label>
                    </div>
                    <div *ngIf="fname.value && fname.invalid">
                      <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Character!</p>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-floating">
                      <input formControlName="lname" [ngStyle]="{'border-color':(lname.valid?'green':(lname&&lname.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                      <label for="floatingInput">Last Name</label>
                    </div>
                    <div *ngIf="lname.value && lname.invalid">
                      <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Character!</p>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input (input)="clearAlert()" formControlName="email" [ngStyle]="{'border-color':(email.valid?'green':(email&&email.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)"   id="input" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" >
                  <label for="floatingInput">Email address</label>
                </div>
                <div *ngIf="email.value && email.invalid">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Email!</p>
                </div>

  
                <!-- Password input -->
                <div class="form-floating mb-4">
                  <input (input)="clearAlert()" formControlName="password" [ngStyle]="{'border-color':(password.valid?'green':(password&&password.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)"  id="input" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <p *ngIf="password.value && password.invalid">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Password!</p>
                </p>

                <!-- phone number -->
                <div class="form-floating mb-3">
                  <input formControlName="phoneNumber" [ngStyle]="{'border-color':(phoneNumber.valid?'green':(phoneNumber&&phoneNumber.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                  <label for="floatingInput">Phone Number</label>
                </div>
                <div *ngIf="phoneNumber.value && phoneNumber.invalid">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Phone Number!</p>
                </div>

                <div class="row">
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input formControlName="city" [ngStyle]="{'border-color':(city.valid?'green':(city&&city.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                      <label for="floatingInput">City</label>
                    </div>
                    <div *ngIf="city.value && city.invalid">
                      <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">This Field is Required!</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input formControlName="street" [ngStyle]="{'border-color':(street.valid?'green':(street&&street.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                      <label for="floatingInput">Street</label>
                    </div>
                    <div *ngIf="street.value && street.invalid">
                      <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">This Field is Required!</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-floating mb-3">
                      <input formControlName="suite" [ngStyle]="{'border-color':(suite.valid?'green':(suite&&suite.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                      <label for="floatingInput">Suite Number</label>
                    </div>
                    <div *ngIf="suite.value && suite.invalid">
                      <p style="color:red;display: inline-block;padding-left: 5px;">Enter Valid Data !</p>
                    </div>
                  </div>
                </div>


                <div *ngIf="!credentials">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">This Email Already Exists !</p>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Remember Me
                  </label>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-primary w-100 m-auto btn-block mb-4" (click)="createAccount()">
                  Sign up
                </button>

                <span class="mb-3">You have Account:  </span><a (click)="login()" style="font-size:14px;text-decoration: underline;color:rgb(71, 1, 92);cursor: pointer;">Login in</a>
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/facebook.png">
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/google.png">
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/twitter.png">
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/github.png">
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- login  -->
          <div  *ngIf=flag&&reset class="card bg-glass">
            <div class=" card-body px-4 py-5 px-md-5">
              <form [formGroup]="validation">
                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input (input)="clearAlert()" formControlName="email" [ngStyle]="{'border-color':(email.valid?'green':(email&&email.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div *ngIf="email.value && email.invalid">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid email!</p>
                </div>

  
                <!-- Password input -->
                <div class="form-floating mb-4" style="text-align: end;">
                  <input (input)="clearAlert()" formControlName="password" [ngStyle]="{'border-color':(password.valid?'green':(password&&password.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)" id="input" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword" >Password</label>
                  <img src="assets/icos/hidden.png" id="hidden" (click)="showPassword()" style="">
                </div>
                <div *ngIf="password.value && password.invalid">
                   <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid password!</p>
                </div>
                
                <div *ngIf="!credentials">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Credentials!</p>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Remember Me
                  </label>
                </div>
  
                <!-- Submit button -->
                <button  type="submit" (click)="validate()" class="btn btn-outline-primary w-100 m-auto btn-block mb-4">
                  Login in
                </button>
                <a  (click)="showReset()" style="font-size:14px;text-decoration: underline;color:rgb(71, 1, 92);cursor: pointer;">Forget Your password</a><br><br>
                <span class="mb-3">You Don't have Account  </span><a  (click)="signup()" style="font-size:14px;text-decoration: underline;color:rgb(71, 1, 92);cursor: pointer;">Sign up</a>
                
                
              </form>
            </div>
          </div>

          <!-- reset Password -->
          <div *ngIf=!reset  class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="validation">
  
                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input (input)="clearAlert()" formControlName="email" [ngStyle]="{'border-color':(email.valid?'green':(email&&email.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)"   id="input" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" >
                  <label for="floatingInput">Email address</label>
                </div>
                <div *ngIf="email.value && email.invalid">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Email!</p>
                </div>

  
                <!-- Password input -->
                <div class="form-floating mb-4">
                  <input (input)="clearAlert()" formControlName="newPassword" [ngStyle]="{'border-color':(password.valid?'green':(password&&password.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)"  id="input" type="password" class="form-control" id="floatingPassword" placeholder="New Password">
                  <label for="floatingPassword">Enter New Password</label>
                </div>
                <p *ngIf="newPassword.value && newPassword.invalid">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Invalid Password!</p>
                </p>

                <!-- Password input -->
                <div class="form-floating mb-4">
                  <input (input)="clearAlert()" formControlName="resetNewPassword" [ngStyle]="{'border-color':(password.valid?'green':(password&&password.value != null)?'red':'rgba(0, 0, 0, 0)')}" style="border:2px solid rgba(0, 0, 0, 0)"  id="input" type="password" class="form-control" id="floatingPassword" placeholder="Enter New Password again">
                  <label for="floatingPassword">Enter New Password Again</label>
                </div>
                <p *ngIf="passwordNotMatched">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">Password Not Match !</p>
                </p>

                <!-- passwords match -->
                <div *ngIf="!credentials">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">This Email Already Exists !</p>
                </div>
  
                <div *ngIf="emailNotExists">
                  <img src="assets/icos/exclamation-mark.png" style="width: 20px;height: 20px;"><p style="color:red;display: inline-block;padding-left: 5px;">This Email Not Exists !</p>
                </div>

                <!-- Reset button -->
                <button type="submit" class="btn btn-outline-primary w-100 m-auto btn-block mb-4" (click)="resetPassword()">
                  Reset Password
                </button>

                <span class="mb-3" (click)="goBack()" style="cursor: pointer;color:rgb(71, 1, 92)">Go Back</span>
              </form>
            </div>
          </div>

        </div>

      </div>
      <img *ngIf=flag id="photo" src="assets/images/2.jpg" >
    </div>
</section>
