<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div *ngIf=flag class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Gallery  <br />
            <span style="color: hsl(218, 81%, 75%)">for your Best Memories</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Best Website For Gallery to Share Your Memories with Your Friends let's start now  🔥🤸🏻‍♂️
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute  shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute  shadow-5-strong"></div>
  
          <!-- signup -->
          <div [formGroup]="validation" *ngIf=!flag  class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form >
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-floating">
                      <input formControlName="email" id="input" type="text" class="form-control" id="floatingInput" placeholder="Name" style="color:rgb(112, 1, 146)">
                      <label for="floatingInput">First Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-floating">
                      <input  id="input" type="text" class="form-control" id="floatingInput" placeholder="Name">
                      <label for="floatingInput">Last Name</label>
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input formControlName="email" id="input" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div *ngIf="!email">
                  <p style="color:red">Invalid Email</p>
                </div>
  
                <!-- Password input -->
                <div class="form-floating mb-4">
                  <input formControlName="password" id="input" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div *ngIf="!password">
                  <p style="color:red">Invalid Password</p>
                </div>
                
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Remember Me
                  </label>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-primary w-100 m-auto btn-block mb-4">
                  Sign up
                </button>

                <span class="mb-3">You have Account:  </span><a (click)="login()" style="font-size:14px;text-decoration: underline;color:rgb(0, 0, 156);cursor: pointer;">Login in</a>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/facebook.png">
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/google.png">
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/twitter.png">
                  </button>
  
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <img src="assets/icos/github.png">
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- login  -->
          <div [formGroup]="validation" *ngIf=flag class="card bg-glass">
            <div class=" card-body px-4 py-5 px-md-5">
              <form>
                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input formControlName="email" id="input" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div email.invalid && (email.dirty || email.touched)>
                  <p style="color:red">Invalid Email</p>
                </div>
  
                <!-- Password input -->
                <div class="form-floating mb-4">
                  <input formControlName="password" id="input" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div password.invalid && (password.dirty || password.touched)>
                  <p style="color:red">Invalid Password</p>
                </div>
                
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Remember Me
                  </label>
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-primary w-100 m-auto btn-block mb-4">
                  Sign up
                </button>

                <span class="mb-3">You Don't have Account  </span><a  (click)="signup()" style="font-size:14px;text-decoration: underline;color:rgb(0, 0, 156);cursor: pointer;">Sign up</a>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
  <!-- Section: Design Block -->