<div class="container">
    <div class="row">
        <p id="head">About Us</p>
        <p id="title">Awesome Team</p>
    </div>
    <div id="row" class="row justify-content-around">
        <div id="hussein" class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <div id="hussContainer" class="d-flex justify-content-center">
                <img src="assets/Awesome-Team/Hussein.png">
            </div>
            <p id="name">Hussein Mohamed</p>
            <p id="position">Full Stack developer</p>
            <p id="phone">+20 10 5018 0934</p>
            <div class="d-flex justify-content-evenly gap-4">
                <a href="https://www.facebook.com/Hussen.Elnamer.99/"><img  id="icon" src="assets/icos/facebook.png"></a>
                <a href="https://github.com/HusseinMohamed849"><img id="icon" src="assets/icos/github.png"></a>
                <a href="https://www.linkedin.com/in/hussein-mohamed-8b4b35218/"><img id="icon" src="assets/icos/linkedin.png"></a>
            </div>
        </div>

        <div id="asmaa" class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <div id="asmaaContainer" class="d-flex justify-content-center">
                <img src="assets/Awesome-Team/Asmaa.png">
            </div>
            <p id="name">Asmaa Abd-Raboh</p>
            <p id="position">Full Stack developer</p>
            <p id="phone">+20 10 2327 9774</p>
            <div class="d-flex justify-content-evenly gap-4">
                <a href="https://www.facebook.com/profile.php?id=100004486745287&comment_id=Y29tbWVudDo4Nzc1NzA5NjU1ODM3NDgzXzU4MTUyODA4MDY4NDk0NA%3D%3D"><img id="icon" src="assets/icos/facebook.png"></a>
                <a href="https://github.com/Asmaa-Abdrabo"><img id="icon" src="assets/icos/github.png"></a>
                <a href="https://www.linkedin.com/in/asmaa-abdrabo-12a272132/"><img id="icon" src="assets/icos/linkedin.png"></a>
            </div>
        </div>
        
        <div id="aya" class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center">
            <div id="ayaContainer" class="d-flex justify-content-center">
                <img src="assets/Awesome-Team/Aya1.png">
            </div>
            <p id="name">Aya Zain</p>
            <p id="position">Full Stack developer</p>
            <p id="phone">+20 10 9244 3653</p>
            <div class="d-flex justify-content-evenly gap-4">
                <a href="https://www.facebook.com/aya.a.zain"><img id="icon" src="assets/icos/facebook.png"></a>
                <a href="https://github.com/Ayazain"><img id="icon" src="assets/icos/github.png"></a>
                <a href="https://www.linkedin.com/in/aya-zain-0a0272132/"><img id="icon" src="assets/icos/linkedin.png"></a>
            </div>
        </div>
    </div>
</div>


<router-outlet/>