
<!-- Modal -->
<div  class="modal " id="deleteModal" style="margin-top: 180px;font-family: 'Welcome';">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Delete !!😲</h5>
       <img src="assets/icos/back.gif" style="width: 40px;height: 40px;cursor: pointer;" class="close" data-bs-toggle="modal" aria-label="Close" >
      </div>
      <div class="modal-body">
       <p>Are you sure you want to delete?</p>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="close-modal"  data-bs-toggle="modal">No</button>
       <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="remove()">Yes</button>
      </div>
     </div>
    </div>
   </div>
   
