<footer>
    <div class="container">
        <div class="row justify-content-around" style="padding-top:38px">
            <div class="col-12 col-md-4">
                <p id="h2" class="mb-4">HELP</p>
                <p>Edit User</p>
                <p>Add Albums</p>
                <p>Delete Photo</p>
                <p>FAQs</p>
            </div>
            <div class="col-12 col-md-4">
                <p id="h3" class="mb-4">GET IN TOUCH</p>
                <p>Any questions? Let us know in store at Egypt, Cairo, call us on (+02) 010-50180934</p>
                <div id="social" class="d-flex gap-4" style="gap:10px">
                    <img src="assets/icos/facebook.png">
                    <img src="assets/icos/twitter.png">
                </div>
            </div>
            <div class="col-12 col-md-4 text-center">
                <p id="h4" class="mb-4 text-start">NEWSLETTER</p>
                <input type="text" class="form-control" placeholder="email@example.com" aria-label="Email" >
                <div id="btn" class="btn border rounded-pill mt-3  w-75">SUBSCRIBE</div>
            </div>
        </div>
        <div class="row flex-column text-center">
            <div class="col-12 mt-4">
                <p>Copyright ©2023 All rights reserved | Aya | Asmaa | Hussein</p>
            </div>
        </div>
    </div>
</footer>

