*{
    color: rgba(0, 0, 0, 0.705);
    font-family:Welcome ;
    cursor: pointer;

}

footer{
    background-color: #EEEEEE;
}

#social img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#social img:hover {
    animation: dance 1s infinite linear;
}

@keyframes dance {
    0%{
        scale:1;
        transform:rotate(0deg)
    }
    50%{
        scale:1.1;
        transform:rotate(-10deg)
    }
    80%{
        scale:1.1;
        transform:rotate(10deg)
    }
    100%{
        scale:1;
        transform:rotate(0deg)
    }

}

#pay img{
    width: 80px;
    height: 80px;
    margin-left:30px;
}

#h1,#h2,#h3,#h4{
    font-size: 30px;
    color:#00ADB5;
}

p:hover,p:focus {
    color:#00ADB5;
}

#btn{
    background-color: #d7d7d77b;
    border:1px solid rgba(0, 0, 0, 0.103) !important;
    color:#00ADB5;
}

#btn:hover{
    background-color:#393E46 ;
    color:white
}

@media (max-width:768px){
    #row{
        gap:30px
    }
}
