*{
    font-family: Welcome;
}

a {
    font-size: 14px;
    font-weight: 700;
    opacity:0.8
}

.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center;
    }

 
}
@media screen and (min-width:930px) {
  
    a:hover,a:focus {
        scale: 1.2;
        color: rgb(148 27 101);
        text-shadow: 1px 1px 3px rgb(236, 155, 205);
        opacity:1;
    }
}
@media screen and (max-width:929px) {
  
    a:hover {
        scale: 1;
        color: rgb(148 27 101);
        text-shadow: 1px 1px 10px rgb(236, 155, 205);
        ;
    }
}
.Active {
    color: rgb(148 27 101);
}

a:focus {
    color: rgb(148 27 101);
    text-shadow: 1px 1px 10px rgb(236, 155, 205);
    ;
}

