
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<div class="container-fluid Btangany" style="position: fixed;font-family: 'Welcome';">
  <div class="row p-4 justify-content-around">
      <div class="col-12 col-md-6 col-lg-2 text-center " >
          <div class="mb-0 fs-4 text-light">Users</div>
      </div>
      <div class="col-12 col-md-4 col-lg-2 text-center">
          <div data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-light w-100 m-0 ">+ Add User</div>
      </div>
  </div>
</div>
<div id="cont" class="container " >
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <div class=" user-dashboard-info-box table-responsive mt-md-4  mt-sm-3 p-4 bg-white shadow-sm">

        <table id="table" class="m-auto table table-hover">
          <thead>
              <tr class="fs-4 text-center">
                  <th id="id">#</th>
                  <th id="name">Name</th>
                  <th id="email">Email</th>
                  <th id="phone">Phone</th>
                  <th id="address">Address</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let u of Users" class="text-center fs-5" style="font-weight: light;" >
                  <td id="id">{{u.id}}</td>
                  <td id="name">{{u.name}}</td>
                  <td id="email">{{u.email}}</td>
                  <td id="phone">{{u.phone}}</td>
                  <td id="address">{{u.address.suite+" " + u.address.street+" " + u.address.city}}</td>

                  <td  routerLink="/landing/edite/{{u.id}}" ><img src="assets/icos/edit.png" style="width: 35px;height: 37px;; cursor:pointer" ></td>

                  <td routerLink="/landing/delete/{{u.id}}" data-bs-target="#deleteModal" data-bs-toggle="modal" data-bs-target="#deleteModal"><img src="assets/icos/trash.png" style="width: 35px;height: 37px; cursor:pointer"></td>
              </tr>
          </tbody>
      </table>

      </div>
    </div>
  </div>
</div>


<app-add ></app-add>
<router-outlet></router-outlet>







