<main  role="main">
    <div  class="album">
        <div id="cont"  class="container d-flex justify-content-center align-items-center">
            <div class="row col-10 ">
                <div  *ngFor="let photo of Photos" class="col-md-2">
                    <div id="imgContainer" class="card m-1 mb-4 box-shadow">
                        <img id="photo" src={{photo.url}}
                            alt="Card image cap">
                    </div>
                </div> 
            </div>
        </div>
    </div>
</main>