
.body{
    background-image: url('src/assets/images/bg1.jpg');
}



/* Let's Test all of Those 🤸🏻‍♂️🔥 */
/* 
1
2
3
4
5
6
*/

/* 
colors
background-color: #432a4f;
    background-image: radial-gradient(650px circle at 0% 0%,
        #FDE2F3 15%,
        #E5BEEC 35%,
        #917FB3 75%,

        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        #FDE2F3 15%,
        #E5BEEC 35%,
        #917FB3 75%,
        transparent 100%);
*/