*{
    font-family: Welcome;
}


#cont{
    margin-top:110px
  }
  
@media (max-width:768px){
    
    #boo{
        display: none;
        gap:40px
    }
    #row{
        gap:10px
    }
    #x{
        margin-top: 10px;
    }
    #address{
        margin-bottom: 10px;
    }
}

#cont{
    margin-top:110px
}

/* #btn{
    background-color: white;
    color:rgb(24 12 82 / 97%);
    border:1px solid rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    width: 170px;
    height: 45px;
    margin-top: 100px;
}

#btn:hover{
    background-color: rgba(24, 12, 82, 0.925);
    color:white;
} */
  