*{
    font-family: Welcome;
}

@media (max-width:768px){
    
    #boo{
        display: none;
        gap:40px
    }
    #row{
        gap:10px
    }
    #name{
        margin-top: 10px;
    }
    #address{
        margin-bottom: 10px;
    }
}