*{
    font-family: Welcome;
}


#cont{
    margin-top:110px
  }
  
@media (max-width:768px){
    
    #boo{
        display: none;
        gap:40px
    }
    #row{
        gap:10px
    }
    #x{
        margin-top: 10px;
    }
    #address{
        margin-bottom: 10px;
    }
}

#cont{
    margin-top:110px
  }
  