
<div   class="container-fluid text-light Btangany" style="z-index: 1; opacity:1;position: fixed;">
    <div   *ngIf="user" id="row" class="row  justify-content-center align-items-center">
        <div id="x" class="col-12 col-md-3 fs-5 text-center">
            <span>{{user.name}}</span>
        </div>
        <div class="col-12 col-md-1">
            <p id="boo" class="fs-1 text-center pt-1">|</p>
        </div>
        <div class="col-12 col-md-3 fs-5 text-center">
            <p style="margin-bottom: 0px;">{{user.email}}</p>
            <p style="margin-bottom: 0px;">{{user.phone}}</p>
        </div>
        <div class="col-12 col-md-1">
            <p id="boo" class="fs-1 text-center">|</p>
        </div>
        <div id="address" class="col-12 col-md-3 fs-5 text-center">
            <p style="margin-bottom: 0px;">Address</p>
            <p style="margin-bottom: 0px;">{{user.address.street}} {{user.address.suite}}</p>
        </div>
    </div>
</div>


<router-outlet  style="height: 800px;"></router-outlet>