/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: Welcome;
    src: url('assets/fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

@font-face {
    font-family: Home-Italic ;
    src: url('assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Header;
    src: url('assets/fonts/Secular_One/SecularOne-Regular.ttf');
}

@font-face {
    font-family:Error;
    src:url('src/assets/fonts/Amatic_SC/AmaticSC-Bold.ttf')
}

@font-face {
    font-family: About;
    src: url('src/assets/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: Title;
    src: url('src/assets/fonts/Fjalla_One/FjallaOne-Regular.ttf');
}

#cont{
    margin-top:80px;
    min-height: 480px;
  }
  
@media (max-width:768px) {
    #cont{
      margin-top: 120px;
      min-height: 100px;
    }
}

.Btangany{
    background-color: rgb(148 27 101);
}

.Dark{
    background-color: #222831;
}
.Grey{
    background-color: #024548d0;
}
.MentGreen{
    background-color: #02a2ab;
}
.GreyLight{
    background-color: #EEEEEE;
}